<h1>Editing user</h1>

<%= form_for @user, :html => { :class => "form-horizontal" } do |form| %>
  <%= render :partial => '/users/form', :object => form %>
  <div class="controls">
    <%= form.submit 'Save Changes', :class => "btn btn-large btn-primary"  %>
  </div>
<% end %>

