<h2>Sign up</h2>

<%= form_for @user, :html => { :class => "form-horizontal" } do |form| %>
  <%= render :partial => '/users/form', :object => form %>
  <div class="controls">
    <%= form.submit 'Sign up', :class => "btn btn-large btn-primary"  %>
  </div>
<% end %>
