<h2>Change your password</h2>

<p>
  Your password has been reset. Choose a new password below.
</p>

<%= form_for(:user,
             :url  => user_password_path(@user, :token => @user.confirmation_token),
             :html => { :method => :put }) do |form| %>
  <div class="password_field control-group">
    <%= form.label :password, "Choose password", :class => "control-label" %>
    <div class="controls">
      <%= form.password_field :password %>
    </div>
  </div>
  <div class="submit_field">
    <div class="controls">
      <%= form.submit "Save this password", :class => "btn btn-primary"  %>
    </div>
  </div>
<% end %>
